body, html {
  padding: 0;
  margin: 0;
}

.app-root {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.app-input {
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #666;
  width: 400px;
  margin-bottom: 30px;
}

.app-button {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #666;
  width: 120px;
  margin-bottom: 30px;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

.leaflet-container {
  height: 400px;
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}

.full-size-map {
  height: 500px;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
}

.image-preview{
  max-height:300px;
  max-width:400px;
  height:auto;
  width:auto;
  display: inline-block;
  clear: left;
}

.lightbox{
  display: inline-block;
  clear: left;
  white-space: nowrap;
}

.profile-pic-small{
  max-height: 50px;
  max-width: 50px;
}

.tab-header{
  background-color: black;
  border: 1px solid #ffffff !important;
}

//.ui-state-focus {
//  background-color: #222;
//  padding: 10px;
//  color: white;
//  font-size: 20pt;
//}
//.ui-tabs-selected {
//  background-color: #222;
//  padding: 10px;
//  color: white;
//  font-size: 20pt;
//}
//.ui-state-active{
//  background-color: #222;
//  padding: 10px;
//  color: white;
//  font-size: 20pt;
//}
